@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
        width: 700px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
        width: 300px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    height: 96px;
    background: #f7efef;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #282828;
 }

.logo {
    margin: 24px 0 0 24px;
}

#date {
    text-align: center;
    padding: 14px;
    margin: 24px;
    color: #f7efef;
    background-color: #282828;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Roboto Slab';
  }

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 0 48px 0;
    justify-content: space-around;
    width: 100%;
  }
  
  
.card {
    height: 550px;
    width: 400px;
    margin: 40px;
    justify-content: space-around;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#container .card-header, .card-body {
    padding: 25px 25px;
}

#container .card .card-header h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Martel';
    color: #282828;
}

#container .card .card-body h3 {
    font-size: 18px;
    text-align: left;
    font-family: 'Roboto Slab';
    color: #282828;
    margin-bottom: 4px;
}

#container .card .card-body p {
    font-size: 14px;
    text-align: left;
    font-family: 'Roboto Slab';
    color: #282828;
    margin-bottom: 16px;
}

#container .card .card-body li {
    font-size: 14px;
    text-align: left;
    font-family: 'Roboto Slab';
    color: #282828;
    margin-bottom: 16px;
    list-style-type: none;
 }


footer {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 0 10%;
  background: #f7efef;
  border-top: 1px solid #282828;
  margin-top: auto;

}
  
  
footer p {
  text-align: center;
  padding-top: 40px;
  color: #282828;
  font-size: 18px;
  font-family: 'Roboto Slab';
}